body{
	font-family: 'Open Sans', sans-serif;
	font-size: 29px;
	color: #252424;	
}


.btn-blue{
	background-color: #fff;
	color: #5457E1;
	border-radius: 5px;
	border-color: rgba(0,0,0,1.00);
	border: 0;
	text-transform: uppercase;
	padding: 10px 30px;
}

.btn-light{
	color: #0D0D0D;
	background-color: #FFFFFF;
	border-color: rgba(1,1,1,1.00);
}


#sec-frame{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		
		text-align: center;
		background-color: #F3F3F3;
		height: 570px;
	    margin-top: 0px;
	    margin-bottom: 30px;
}

#sec-cooling{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	background-color: #F3F3F3;
		text-align: center;
		
		height: 570px;
	    margin-top: 0px;
	    margin-bottom: 30px;
}



footer{
	background-color: rgba(43,43,43,1.00);
	color: aliceblue;
	width: auto;
	height: 100px;
	margin: auto;
	background: #212121;
	padding: 20px 0px;
	
}